{
	"system_name": "Metacentrum",
	"start_time": 1356994806,
	"equivalence": {
		"processor": {
			"core": 1
		}
	},
	"groups": {
		"manwe": {"core": 16,"mem": 66060288},
		"hildor": {"core": 16,"mem": 67108864},
		"mandos": {"core": 64,"mem": 264241152},
		"minos": {"core": 12,"mem": 19922944},
		"tarkil": {"core": 8,"mem": 22020096},
		"nympha": {"core": 8,"mem": 14680064},
		"skirit": {"core": 4,"mem": 3395584},
		"hermes": {"core": 8,"mem": 14680064},
		"ramdal": {"core": 32,"mem": 1058013184},
		"haldir": {"core": 64,"mem": 1040187392},
		"gram": {"core": 16,"mem": 67108864},
		"perian1-40": {"core": 8,"mem": 25165824},
		"perian41-56": {"core": 12,"mem": 50331648},
		"eru": {"core": 32,"mem": 264241152},
		"doom": {"core": 16,"mem": 67108864},
		"zewura": {"core": 80,"mem": 529426432},
		"zegox": {"core": 12,"mem": 94372000},
		"zapat": {"core": 16,"mem": 134217728},
		"zigur": {"core": 8,"mem": 134217728},
		"ungu": {"core": 288,"mem": 6442450944}
	},
	"resources": {
		"manwe": 7,
		"hildor": 26,
		"mandos": 14,
		"minos": 49,
		"tarkil": 28,
		"nympha": 19,
		"skirit": 28,
		"hermes": 11,
		"ramdal": 1,
		"haldir": 1,
		"gram": 10,
		"perian1-40": 40,
		"perian41-56": 16,
		"eru": 2,
		"doom": 30,
		"zewura": 20,
		"zegox": 48,
		"zapat": 112,
		"zigur": 32,
		"ungu": 1
	}
}